.boxdescription{
    margin: 50px;

    .monBlockapropos{
        margin-bottom: 30px;
        width: 100%;
    }   
}

// MEDIA QUERIES //

@media (max-width : 768px){
    .boxdescription{
        margin: 20px;
    }
}