.header{
    
    nav{
       margin-top: 30px;
        display: flex;
        justify-content: space-between;
        width: 100%;


        img{
            width: 15%;
            margin-left: 50px;
        }
    }
    ul{
        display: flex;
        color: #FF6060;
        list-style: none;
        margin-right: 30px;
    }
}